.review
  h2 What People Are Saying About Roberto... 
  .two-column
    .column
      p
        em "There are many influencers and experts in the digital space but Roberto Blake truly does stand out from the rest. Roberto is incredibly dedicated to his craft and is persistent in creating relatable and useful content for his followers. Not only is Roberto great at what he does, he is very generous at giving his time sharing insight with his community."
      p
        strong Chelsea Krost Co-founder MPulse
    .column
      p
        em "He has a real passion for creative entrepreneurship and empowering others, and the community he’s built around his creative philosophy is a reflection of his commitment to his following." 
      p 
        strong Jared Kleinert-Forbes