$color-mine-shaft: #333333;
$color-white: #fff;
$color-mercury: #E7E7E7;
$color-pizazz: #ff9600;
$color-fuel-yellow: #eea236;
$color-sandy-brown: #f0ad4e;

// footer link color
$color-astral: #337ab7;

// footer link color on hoover
$color-bay-of-many: #23527c;
