nav.header
  .header__top
    span.header-name Roberto Blake
    label.icon-menu(for="toggle__top-menu")
  //- check access to json file
  //- pre=JSON.stringify(data['top-menu'], null, 2)
  input(type="checkbox", id="toggle__top-menu")
  .header__menu-list
    each item in data['top-menu']
      a.header__menu-link(href=item.href, target=item.target)=item.text