%button {
  border: 0.1 rem solid $color-fuel-yellow;
  border-radius: 0.5rem;
  background-color: $color-sandy-brown;
  font-size: 2rem;
  color: $color-white;
  text-decoration: none;
  
  &:hover {
    background-color: $color-sandy-brown;
    border-color: $color-meteor;
  }
}

.button__download {
  @extend %button;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
}

.button__small {
  @extend %button;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  
  
  &:hover {
    background-color: $color-sandy-brown;
    text-decoration: none;
    color: $color-white;
  }
}

.button__small-last {
  @extend %button;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  background-color: $color-roman;
  
  &:hover {
    background-color: $color-persian-red;
    text-decoration: none;
    color: $color-white;
  }
}