.landing__content {
  text-align: center;
  padding: 1.2rem;

  p {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 1rem;
  }

  a {
    font-weight: bold;
  }

  h2 {
    font-size: 3rem;
    font-weight: normal;
  }

  hr {
    margin: 2rem 0;
    border-top: 0.1rem solid $color-gallery;
  }
}

.row {
  text-align: left;
}