@media screen and (min-width: 768px) {
  .image-text__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;

    .image {
      min-width: 30%;
    }

  }

  // .review {
  //   p {
  //     display: inline-flex;
  //     grid-template-columns: 1fr 1fr;
  //   }
  // }

  .landing__content {
    display: flex;
    flex-wrap: wrap;
  }

  .content__wrapper {
    width: 65%;
  }

  .side-bar {
    width: 35%;
    padding: 1rem;
  }

  .two-column {
    display: flex;
  }

  .column {
    width: 50%;
    padding: 1rem;
    text-align: justify;
  }
}