// reset everything
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  // reset the default font size to 10px
  font-size: 62.5%;
}

html, body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header__wrapper {
  background-color: $color-pizazz;

  h1 {
    color: $color-white;
    font-size: 3.6rem;
    font-weight: normal;
    padding: 1rem 1.5rem;
    text-align: center;
  }
}

.header__body {
  // display: block;
  background-image: url("asset/image/robertoblake2016header.jpg");
  min-height: 61.1rem;
  background-position: center center;
}
