@media screen and (min-width: 768px) {
  .image-text__wrapper {
    display: flex;
    flex-direction: row;
    .content-justify {
      padding: 2rem;
    }
    .image {
      min-width: 30%;
    }

  }
  .content-justify {
    padding: 2rem;
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .review {
    p {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}