@media screen and (min-width: 768px) {
  .image-text__wrapper {
    display: flex;
    flex-direction: row;

    .image {
      min-width: 30%;
    }

    .content-justify {
      padding: 1.5rem;
    }
  }
}