// reset everything
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  // reset the default font size to 10px
  font-size: 62.5%;
}

html, body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
  padding-top: 5.2rem;
}

p {
  font-size: 1.4rem;
}

a {
  color: $color-astral;
  text-decoration: none;


  &:hover {
    text-decoration: underline;
    color: $color-bay-of-many;
  }
}

em {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.youtube-video__16-by-9 {
  width: 100%;
  // calculate percentage for landscape video. divide 16/9
  padding-top: 56.25%;
  position: relative;

  iframe {
    position:absolute;
    top: 0;
    left: 0;
   
  }
}

.content-justify {
  text-align: justify;

  p {
    padding: 1rem;
  }
}

hr {
  margin: 2rem 0;
  border-top: 0.1rem solid $color-gallery;
}


.image img {
  max-width: 100%;
}

h3 {
  font-size: 1.4rem;
  padding-left: 4rem;
}

.list__padded {
  font-size: 1.4rem;
  list-style-type: disc;
  padding: 1rem 3rem;
}