.footer {
  text-align: center;
  font-size: 1.4rem;
}
.footer__link {
  color: $color-astral;
  padding: 0.5rem;
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $color-bay-of-many;
  }
}

.social__icon {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  background-image: url("asset/image/social-sprite.jpg");
}