extends _component/layout/layout
block config
  -
    let title = `Roberto Blake replica`
    let descripton = `This will be an improved version of roberto's blake replica`
block content
  .header__wrapper
    h1 Entrepreneur, Author & Speaker
  .header__body
  h3 Download My Free E-book on Personal Branding!