.side-bar
  h2 Contact Roberto
  ul
    li rblake@robertoblake.com
    li C: 518.406.8664
    li skypeID: roberto.blake
    li 
      a(href="http://robertoblake.com/newsletter") http://robertoblake.com/newsletter
    li 
      a(href="http://twitter.com/robertoblake") http://twitter.com/robertoblake
    li 
      a(href="http://youtube.com/robertoblake2") http://youtube.com/robertoblake2
    li 
      a(href="http://facebook.com/robertoblake2") http://facebook.com/robertoblake2
    li 
      a(href="http://linkedin.com/in/robertoblake") http://linkedin.com/in/robertoblake
